/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

/* Phone Stats Section */
#phoneStats {
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Labels Section */
#labels {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

/* Score Section */
#score {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

/* Rules Section */
#rules {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}